<h2>Reactivos: Básicos</h2>
<hr />

<div class="row">
  <div class="col">
    <!-- conectar mi lógica del formulario reactivo "myForm" al formulario de HTML usando el [formGroup]="" pero eso solo conectará el objeto de myForm como tal mas no sus propiedades, eso lo tenemos que hacer por cada input que tengamos e ir conectado sus propiedades del myForm -->
    <form [formGroup]="myForm" autocomplete="off" (ngSubmit)="handleSaveForm()">
      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <!-- para conectar el input con las propiedades del formulario reactivo myForm se utilizará el formControlName="" pero vemos que no tendrá el intellisense ya que básicamente le pasaremos un string, si queremos que sea dinámico podríamos colocarlo como [formControlName]="" pero en general este solo sería el nombre del campo el cual va a corresponder a la propiedad de formulario reactivo myForm -->
          <input
            type="text"
            formControlName="name"
            class="form-control"
            placeholder="Nombre del producto"
          />

          <span class="form-text text-danger">
            <!-- Debe de ser de 3 letras -->
            error message
          </span>
        </div>
      </div>

      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            type="number"
            formControlName="price"
            class="form-control"
            placeholder="Precio del producto"
          />
          <span class="form-text text-danger">
            El precio debe de ser 0 o mayor
          </span>
        </div>
      </div>

      <!-- Campo de existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input
            type="number"
            formControlName="inStorage"
            class="form-control"
            placeholder="Existencias del producto"
          />

          <span class="form-text text-danger">
            Las existencias deben de ser 0 o mayor
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<br />
<hr />
<br />

<div class="row">
  <div class="col">
    <!-- todas las validaciones tienen que ser true para que recién el formulario sea válido sino dará un false -->
    <span><b>Valid</b></span>
    <pre>{{ myForm.valid | json }}</pre>

    <!-- true si al formulario no se cambió algún valor de cualquier campo y false su valor opuesto (este valor se cambia a false permanentemente cuando se cambia algún valor de cualquier campo, ya no vuelve a true porque ya se cambió algún valor. Continúa en true y no cambia a false si solo se toca y se sale del campo porque no cambió como tal los valores del formulario) -->
    <span><b>Pristine</b></span>
    <pre>{{ myForm.pristine | json }}</pre>

    <!-- false si el formulario no se ha tocado ni manipulado de ninguna manera y true su valor opuesto (este valor se cambia a true permanentemente cuando se toca un campo, ya no vuelve a false porque ya se tocó en alguna oportunidad algún campo) -->
    <span><b>Touched</b></span>
    <pre>{{ myForm.touched | json }}</pre>

    <!-- valores del formulario como tal -->
    <span><b>Value</b></span>
    <pre>{{ myForm.value | json }}</pre>

    <!-- buscar un elemento en particular para mostrar cual es el valor del name -->
    <span><b>Nombre producto - Value</b></span>
    <pre>{{ myForm.controls["name"].value | json }}</pre>
    <!-- buscar un elemento en particular para mostrar cual es el error de la propiedad name -->
    <span><b>Nombre producto - Errors</b></span>
    <pre>{{ myForm.controls["name"].errors | json }}</pre>

    <!-- buscar un elemento en particular para mostrar cual es el valor del price -->
    <span><b>Precio - Value</b></span>
    <pre>{{ myForm.controls["price"].value | json }}</pre>
    <!-- buscar un elemento en particular para mostrar cual es el error de la propiedad price -->
    <span><b>Precio - Errors</b></span>
    <pre>{{ myForm.controls["price"].errors | json }}</pre>

    <!-- buscar un elemento en particular para mostrar cual es el valor del inStorage -->
    <span><b>Producto Cantidad - Value</b></span>
    <pre>{{ myForm.controls["inStorage"].value | json }}</pre>
    <!-- buscar un elemento en particular para mostrar cual es el error de la propiedad inStorage -->
    <span><b>Producto Cantidad - Errors</b></span>
    <pre>{{ myForm.controls["inStorage"].errors | json }}</pre>
  </div>
</div>
