<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="handleSubmit()">
      <!-- Nombre -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del usuario"
            formControlName="name"
          />

          <span *ngIf="isNotValidField('name')" class="form-text text-danger">
            Debe de ser en formato de: nombre y apellido
          </span>
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            placeholder="Email del usuario"
            formControlName="email"
          />
          <span *ngIf="isNotValidField('email')" class="form-text text-danger">
            Debe de ser en formato de: {{ "correo@correo.com" }}
          </span>
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre código del usuario"
            formControlName="username"
          />
          <span
            *ngIf="isNotValidField('username')"
            class="form-text text-danger"
          >
            El username no puede ser Strider
          </span>
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Password de su cuenta"
            formControlName="password"
          />

          <span
            *ngIf="isNotValidField('password')"
            class="form-text text-danger"
          >
            La contraseña debe de ser mayor de 6 caracteres.
          </span>
        </div>
      </div>

      <!-- Password2 -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Confirmar la contraseña"
            formControlName="password2"
          />

          <span
            *ngIf="isNotValidField('password2')"
            class="form-text text-danger"
          >
            Las contraseñas deben de ser iguales
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit">Crear</button>
        </div>
      </div>
    </form>
  </div>
</div>

<br />
<hr />

<p><b>Form Valid: </b>{{ myForm.valid }}</p>
<p><b>Form Status: </b>{{ myForm.status }}</p>
<p><b>Form Pending: </b>{{ myForm.pending }}</p>

<p><b>Form errors:</b></p>
<pre>{{ myForm.errors | json }}</pre>

<hr />

<p><b>Nombre: </b>{{ myForm.value.name | json }}</p>
<!-- accediendo a un control específico del fomrulario -->
<!-- <pre>{{ myForm.controls["name"].value | json }}</pre> -->
<!-- accediendo de forma manual a una propiedad del value del formulario -->
<!-- <pre>{{ myForm.value.name | json }}</pre> -->

<p><b>Nombre - Errors:</b></p>
<pre>{{ myForm.controls["name"].errors | json }}</pre>

<hr />

<p><b>Email: </b>{{ myForm.value.email | json }}</p>
<!-- <pre>{{ myForm.controls["email"].value | json }}</pre> -->
<!-- <pre>{{ myForm.value.email | json }}</pre> -->

<p><b>Email - Errors:</b></p>
<pre>{{ myForm.controls["email"].errors | json }}</pre>

<hr />

<p><b>Username: </b>{{ myForm.value.username | json }}</p>
<!-- <pre>{{ myForm.controls["username"].value | json }}</pre> -->
<!-- <pre>{{ myForm.value.username | json }}</pre> -->

<p><b>Username - Errors:</b></p>
<pre>{{ myForm.controls["username"].errors | json }}</pre>

<hr />

<p><b>Password: </b>{{ myForm.value.password | json }}</p>
<!-- <pre>{{ myForm.controls["password"].value | json }}</pre> -->
<!-- <pre>{{ myForm.value.password | json }}</pre> -->

<p><b>Password - Errors:</b></p>
<pre>{{ myForm.controls["password"].errors | json }}</pre>

<hr />

<p><b>Confirmar Password: </b>{{ myForm.value.password2 | json }}</p>
<!-- <pre>{{ myForm.controls["password2"].value | json }}</pre> -->
<!-- <pre>{{ myForm.value.password2 | json }}</pre> -->

<p><b>Confirmar Password - Errors:</b></p>
<pre>{{ myForm.controls["password2"].errors | json }}</pre>
